*{
    padding: 0px;
    margin: 0px;
    outline: 0px;
    box-sizing: border-box;
}
.size{
    padding: 56px 100px;
}
/* span {
    color: #9a8989;
    text-transform: capitalize;
    font-size: 26px;
} */
/* ===================== Header CSs ====================== */
header {
    width: 100%;
    height: 100vh;
    background-color: #0A2640;
    padding: 56px 100px;
}
nav {
    display: flex;
    justify-content: space-between;
    
    
    
    
}
nav ul{
list-style: none;


}
nav ul li{
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    display: block;
    color: #FFFFFF;
    font-size: 16px;
    font-family: Open sans;
    /* width: 61px; */
    padding: 10px 30px;
}
#btn_login {
    
   
}
#btn_login a {
    color: #0A2640;
    font-weight: bold;
    width: auto;
    background: #FFFFFF;
    border-radius: 20px;
}

.content_header{
    display: flex;
    padding: 50px 0px;
}
.content_header_left {
    max-width: 60%;
    padding: 10px 0px;
    display: flex;
    align-items: center;
}
.content_header_left h1 {
    font-size: 48px;
    color: #FFFFFF;
    

}
.content_left {
    margin-right: 80px;
}
.content_left p{
    color: #f1f1f1;
    font-size: 18px;
    padding: 12px 0px;
}
.btn_header {
    display: flex;
    gap: 15px;
    padding: 10px 0px;
}
#btn_buy {
    background-color: #69E6A6;
    color: #0A2640;
    font-size: 20px;
    font-weight: bold;
    height: 53px;
    border-radius: 30px;
   
    text-decoration: none;
    display: inline-block;
    width: 220px;
    text-align: center;
    line-height: 53px;
}
#btn_explore {
    text-decoration: none;
    color: #F1F1F1;
    font-size: 20px;
    width: 150px;
    height: 53px;
    border-radius: 56px;
    border: 2px solid #F1F1F1;
    text-align: center;
    line-height: 53px;
}
.content_header_right{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}




.right_images{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

/* ===================== Service CSs ====================== */

.service_title{
    width: 842px;
    margin: 0 auto;
}
.service_title span {
    font-size: 20px;
    color: gray;
    text-align: center;
    display: block;
}
.service_title h2 {
    text-align: center;
    font-family: sans-serif;
    font-size: 42px;
    font-weight: lighter;
    padding: 35px 0px 0px;
}
.features{
    display: flex;
    
    justify-content: center;
    margin: 80px 0px;
}
.features {
    display: flex;
    justify-content: space-between;
    margin: 80px 0px;
}
.feature {
    width: 320px;
}
.content_feature{
    padding: 20px 0px;
}
.feature img {
    width: 100%;
    height: 366px;
}
.feature h3 {
    color: #000000;
    font-family: sans-serif;
    
}
.feature p {
    color: gray;
    font-family: sans-serif;
    padding: 10px 0px 10px 0px;
}
.btn_feature{
    display: flex;
}
.btn_feature a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #0A2640;
    display: block;
    margin-top: 8px;
}
/* .btn_feature img{
    width: 20px;
    height: 20px;
} */

/* ===================== Customer Connection CSs ====================== */
.container_customer_connection{

}
.container {
    display: flex;
   
}

.back_img{
    width: 494px;
    height: 506px;
    background-image: url("/img/Rectangle 1270.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#front_img {
    position: absolute;
    top: 40%;
    left: 30%;
    width: 326px;
    height: 442px;
}
/* .back_img img{
    width: 100%;
    height: 506px;
} */
.right_customer_data {
    display: flex;
    padding-left: 80px;
}
.right_content {
    width: 100%;
    margin: auto 0px;
}


.right_content h1 {
    color: #000000;
    font-size: 42px;
    font-weight: 100;
    font-family: sans-serif;
}
.right_content ul {
    margin-top: 20px;
}

.right_content ul li {
   list-style: none;
    font-size: 24px;
    
   padding: 14px 45px;
    background-image: url("/img/logo/Group\ 210.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: left center;
    
  }
  .right_content a {
    text-decoration: none;
    font-size: 24px;
    padding: 16px 40px;
    background: #0A2640;
    font-size: 24px;
    color: #FFFFFF;
    border-radius: 30px;
    margin-top: 10px;
    display: inline-block;
    font-family: cursive;
}
/* connection second */
.gustomer_container {
    margin: 143px 0px;
    display: flex;
    justify-content: space-between;
}
.span_list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.span_list span {
    color: #000000;
    font-size: 18px;
    box-shadow: 0px 0px 10px 0px #efefef;
    margin: 10px 0px;
    padding: 20px 20px;
    width: 500px;
    border-radius: 5px;
}
.content {
    /* width: 500px; */
    
    /* max-width: 500px; */
    
}
#span_one{
    background-color: #0A2640;
    color: #FFFFFF;
}
.span_two{

}
.span_three{

}
.left_content{
   margin: auto 0px;
   width: 60%;

}
.left_content h2 {
    color: #000000;
    font-size: 42px;
    font-weight: 100;
    font-family: sans-serif;
}
.right_content_second {
    background-image: url(/img/g.png);
    width: 444px;
    height: 523px;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}
.right_content_second img {
    width: 310px;
    height: 388px;
    position: absolute;
    top: 50%;
    left: 10%;
}

/* ================ Footer Css ====================== */
footer{
    padding: 56px 100px;
}
.top_Footer {
    width: auto;
    height: 391px;
    background-color: #1C3D5B;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
span.footer_title h2 {
    font-size: 43px;
}
span.footer_title img {
    width: 25px;
    height: 33px;
    margin: auto 0px;
}
.top_footer_inner {
    width: 50%;
    padding: 20px;
}
.top_footer_inner form {
    margin: 30px 0px;
}
form input[type=search] {
    width: 268px;
    box-sizing: border-box;
    border-radius: 38px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 26px;
    
    outline: 0px;
    border: 0px;
}
form a {
    padding: 12px 30px;
    background: #65E4A3;
    border-radius: 26px;
    color: #0A2640;
    text-decoration: none;
    /* font-weight: bold; */
    font-size: 20px;
}


.top_Footer h2 {
    font-size: 40px;
    font-weight: lighter;
    color: #FFFFFF;
}
.main_footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 80px 0px 20px 0px;
}
.rights_footer {
    width: 30%;
}

.rights_footer p {
    font-size: 16px;
    color: gray;
    
}
#rights {
    font-size: 16px;
    color: gray;
    margin-top: 60px;
    display: block;
}
span.footer_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 36px;
    display: flex;
    justify-items: center;
}
.title ul {
    list-style: none;
    font-size: 16px;
    color: gray;
}
.title ul li {
    padding: 0px 0px 20px 0px;
}
.title {
    width: 25%;
}
.sitemap {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 70px;
}
/* ============== Collaboration ==================== */
.coll_img {
   
    height: 403px;
    margin: 0px auto;
}
.coll_img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.coll_content {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    
}
.coll_content p {
    color: #000000;
    font-size: 42px;
    font-weight: 100;
    font-family: sans-serif;
    width: 75%;
    padding-right: 50px;
}
.col-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: end;
}
.col-list a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    text-align: left;
    width: 450px;
    margin-bottom: 34px;
    border-bottom: 1px solid gray;
    padding: 16px 0px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    margin-left: auto;
}
.col-list img {
    width: 20px;
    height: 20px;
}